<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テストWebアプリ</title>
</head>
<body>
    <h1>index.html表示してます</h1>
    <form action="/add" method="POST">
        <input type="text" name="reword" placeholder="なまくり～む"/>
        <input type="submit" value="Add"/>
        <br>
		{% for d in data %}
			<p>{{d.id}} : {{d.name}}</p>
		{% endfor %}
    </form>
</body>
</html>